/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

main {
  flex: 1;
}

/* Common utility classes */
.container {
  max-width: 1076px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}
